body { background: #2d16c8; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 43px; display: flex; }
.block-user-0 { color: #55314f; font-size: 14px; margin-bottom: 5px; }
.block-product-1 { color: #f37724; font-size: 19px; margin-bottom: 5px; }
.block-invoice-2 { color: #71c22c; font-size: 19px; margin-bottom: 5px; }
.block-token-3 { color: #591de5; font-size: 12px; margin-bottom: 5px; }
.block-notify-4 { color: #1ff6e9; font-size: 20px; margin-bottom: 5px; }
.block-database-5 { color: #8c3f65; font-size: 12px; margin-bottom: 5px; }
.block-config-6 { color: #c35658; font-size: 12px; margin-bottom: 5px; }
.block-cart-7 { color: #426802; font-size: 14px; margin-bottom: 5px; }